/* buy-history.css */
body {
    letter-spacing: 0.8px;
    font-family: "Itim", cursive;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    background: rgb(139, 126, 255);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center; /* จัดแนวตั้ง */
    align-items: center;     /* จัดแนวนอน */
    justify-content: space-evenly; /* ระยะห่างเท่ากันทุกตัว */
    gap: 40px;
}
.navbar ul {
    /* จัดแนวนอน */
    width: 35vw;
    list-style: none;
    background: #444;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    justify-content: space-evenly; /* ระยะห่างเท่ากันทุกตัว */

}

.navbar ul #index {
    background: linear-gradient(to top, #a698f9, #7166dc);
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#history-container {
    margin: 0 auto;
    max-width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #333;
    color: #fff;
}
