/* edit-seat.css */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    letter-spacing: 0.8px;
    font-family: "Itim", cursive;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: radial-gradient(circle at center, #5c4ccf 0%, #1a1a2e 100%);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.back{
    margin-left: 85vh;
}

#translate-btn {
    width: 150px;
    height: 50px;
    background-color: #7876ff;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: large;
    transition: background-color 0.3s ease;
  }
  
  #translate-btn:hover {
    background-color: #6756ff;
  }
  

/* Navbar Styling */
.admin-navbar {
    background-color: #a79cfe;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.admin-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.admin-navbar li {
    margin: 0 15px;
}

.admin-navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.admin-navbar li a:hover {
    color: #007bff;
}
/* Main seat container */
.seat-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.seat-class-box {
   
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    height: 50vh;
    width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px;
    justify-items: center;
}

.seat-class-box h2 {
    margin-top: 0;
}

.seat-class-box p {
    font-size: 1.1em;
}

.seat-class-box input[type="number"] {
    margin-top: 10px;
    padding: 8px;
    width: 150px;
    margin-bottom: 10px;
    background: aliceblue;
}

.seat-class-box button {
    padding: 10px 15px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.seat-class-box button:hover {
    background: #555;
}

.colorA, 
.colorB,
.colorC{
    width: 280px;
    height: 250px;
    margin: 20px;
}

.colorA{
    background-color: gold;
}

.colorB{
    background: #fff9c4;
}

.colorC{
    background: #d3fafa;
}